.taskContainer {
    width: 630px;
    min-height: 200px;
    background: #F6F8FF;
    border: 1px solid #E1E1FF;
    box-sizing: border-box;
    border-radius: 12px;
    padding: 30px;
    margin-top: 30px;
    position: relative;
}
.taskContainer-error {
    border: 1px solid #E36767;

}
.taskContainer__errorMessage {
    background: #E1E7FF;
    border: 1px solid #E1E1FF;
    box-sizing: border-box;
    border-radius: 6px 6px 0px 0px;
    text-align: center;
    font-size: 12px;
    color: #434553;
    position: absolute;
    top: -18px;
    left: 15px;
    padding-left: 5px;
    padding-right: 5px;
}
.taskContainer__taskNumber {
    background: #E1E7FF;
    border: 1px solid #E1E1FF;
    box-sizing: border-box;
    border-radius: 6px 6px 0px 0px
}
.taskContainer__question {
    min-height: 30%;
}
.taskContainer__answers {
    height: 30%;
    display: flex;
    flex-wrap: wrap;
}
.taskContainer__buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 630px;

}
.taskContainer__blueSmallButton {
    background: #1D66FF;
    border-radius: 8px;
    width: 301px;
    height: 50px;
    padding-top: 17px;
    font-weight: bold;
    font-size: 15px;
    color: #FFFFFF;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
}
.taskContainer__lightSmallButton {
    background: #E1EAFC;
    border-radius: 8px;
    width: 301px;
    height: 50px;
    padding-top: 17px;
    font-weight: bold;
    font-size: 15px;
    color: #98A5BE;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
}
@media (min-width: 320px) and (max-width: 479px) {
    .taskContainer{
        width: 300px;
    }
    .taskContainer__buttons {
        flex-direction: column;
    }
    .taskContainer__blueSmallButton {
        margin-top: 15px;
    }

}